@import url("navigation.css");
* {
  box-sizing: border-box;
}
html {
  height:100%;
}
body {
  height: 75%;
}
.topnav {
  overflow: hidden;
  background-color: #1d223b;
}
p#rightElement {
  margin-top:15px;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
}
p#leftElement {
  margin-top:15px;
  color: #ffe247;
  float: left;
  display: block;
  text-align: center;
  padding: 16px 16px;
  font-size: 20px;
  font-weight: bold;
}
p#rightElement:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}
img#logo {
  margin-top:15px;
  margin-left:20px;
  float: left;
  width: 70px;
  height: 70px;
  border-radius: 20px 0 20px 0;
}
div#leftList {
  display: flex;
  color: black;
  background-color: gray;
}

/*
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
*/
.centrar {
  max-width: 50%;
  max-height: 50%;
  margin: auto;
  /*border-style: ridge;
  //text-align:center;
  */
}

/*
  DE AQUI PARA ABAJO SON PRUEBAS
*/

.container {
    height:590px;
}

.card {
    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: 400px;
}

.upper {
    height: 100px;
}

.upper img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user {
    position: relative;
}

.profile img {
    height: 85px;
    width: 80px;
    margin-top: 2px;
}

.profile {
    position: absolute;
    top: -50px;
    left: 40%;
    height: 90px;
    width: 90px;
    border: 3px solid #fff;
    border-radius: 100%;
}

.follow {
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
}

.stats span {
    font-size: 29px;
}

button#backButton {
  background-color: blue;
  margin-top: 15px;
  padding-left: 80px;
  padding-right: 80px;
}

#inboxSpan span {
  background-color: blueviolet;
}

img#articleImages {
  max-width: 50%;
  max-height: 50%;
}
