* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  overflow: hidden;
  background-color: #1d223b ;
}
p#rightElement {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
}
p#leftElement {
  color: #fff945;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  font-weight: bold;
}
p#rightElement:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}
img#logo {
  float: left;
  padding-top: 11px;
  padding-left: 11px;
  margin:0;
  width: 85px;
  height: 85px;
  border-radius: 20px 0 20px 0;
}
div#mainInterface {
  display: flex;
  color: black;
  background-color: yellow;
}
div#mainInterface nav {
  background-color: white;
}
div#mainInterface td {
  padding: 20px;
  display: block;
  margin: 0;
  border-radius: 15px;
}
div#mainInterface td:hover {
  background-color: #c9c9c9;
  cursor: pointer;
}
div#mainInterface a {
  color: black;
  text-decoration: none;
}
article {
  flex:0%;
}